#gameview {
    display: grid;
    grid-template-columns: repeat(5,120px);
    gap: 20px;
    justify-content: center;
}

#gameview div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    display: flex;
    align-items: center;
    border: 1px solid black;        
    width: 120px;
    height: 120px;
    font-size: 30px;
    cursor: default;
}

.leftCard:hover {
    background-color: #eeeeee;
}

.card_hidden {
    color: transparent;
}

.card_matched {
    border-color: transparent;
}

.color_correct {
    background-color: skyblue;
}

.color_wrong {
    background-color: pink;
}

.card_transition {
    transition: background-color 0.2s ease-out;
}